html, body {
  height: 100%;
  margin: 0;
  padding: 0;

  /* Background image styles */
  background-image: url('./assets/lp_back.jpg');
  background-size: cover;         /* Stretches the image to cover the whole screen */
  background-position: center;    /* Centers the image */
  background-repeat: no-repeat;   /* Ensures it does NOT repeat */
  background-attachment: fixed;   /* Optional: keeps background fixed during scroll */
}

/* Apply styles to the root element */
#root {
  min-height: 100vh;
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0; /* Remove padding to ensure no spacing */
  text-align: center;

  /* Add background image styles */
  /* background-image: url('./assets/lp_back.jpg'); */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */

  /* Ensure it covers the entire viewport */
  min-height: 100vh;
}

/* Optional styles for the logo */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
